<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/netzwerkfilter/src/main/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${build_files:www.cs.hm.edu Informatik Rechnerwissenschaften}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="netzwerkfilter"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="${build_files:www.cs.hm.edu i a}"/>
</launchConfiguration>
